<h1><%= @sub.title %></h1>

<p>
<%= @sub.description %>
</p>

<% if current_user == @sub.moderator %>
  <%= button_to "Edit SubReddit", edit_sub_url(@sub), method: "get" %>
<% end %>

<h2>Posts</h2>

<% @sub.posts.each do |post| %>
  <%= render "posts/post", post: post %>
<% end %>
