// Place all the styles related to the Subs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.subs {
  list-style: none;
  padding: none;
  li {
    margin: 12px;
  }
}
